html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(243, 198, 242);
}
.h1 {
    text-align: center;
    font-size: 28px;
}
h2 {
    font-size: 20px;
    color: rgb(57, 54, 54);
}
.one {
    margin: 7%;
    text-align: justify;
}
.button {
    padding-bottom: 10%;
}
.btn {
    background-color: #ed085c;
    margin-left: 45%;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 8px 20px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}
@media only screen and (max-width: 680px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    .h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 16px;
    }
    .one {
        margin: 10%;
        text-align: justify;
    }
    .one p {
        font-size: 14px;
    }
    .list {
        font-size: 14px;
    }
    .button {
        padding-bottom: 50%;
        padding-right: 18%;
        padding-top: 5%;
    }
    .btn {
        font-size: 8px;
    }
    
}